<!-- header -->
<%= render 'partial/header' %>

<!-- main -->
<main>
  <!-- search result -->
  <section class="search-result-section wrap">
    <h2 class="form__heading--sub">検索結果(<%= @result['totalItems'] %>件)</h2>
    <% @result['items'].each do |item| %>
    <div class="search-result__flex-wrap flex">
      <figure class="search-result__flex-item--before">
        <%= link_to image_tag(item['volumeInfo']['imageLinks']['thumbnail']),
        book_show_path(title: item['volumeInfo']['title'], author:
        item['volumeInfo']['authors']) %>
      </figure>
      <div class="search-result__flex-item--middle">
        <%= link_to item['volumeInfo']['title'], book_show_path(title:
        item['volumeInfo']['title'], author: item['volumeInfo']['authors']),
        class: 'search-result__title font_bold' %>
        <p class="search-result__author">
          <%= item['volumeInfo']['authors'] %>
        </p>
        <p class="search-result__date">
          <%= item['volumeInfo']['publishedDate'] %>
        </p>
      </div>
      <div class="search-result__flex-item--after">
        <%= button_to '登録する', '', class: 'basic-button--add-item' %>
      </div>
    </div>
    <% end %>
  </section>
</main>
<!-- footer -->
<%= render 'partial/footer' %>
